## Managed by Ansible Controller

## User rules for grafana_agent

## grafana_agent ALL=(ALL) NOPASSWD:NETWORKING,SOFTWARE,SERVICES,STORAGE,DELEGATING,PROCESSES,LOCATE,DRIVERS

grafana_agent ALL=(ALL)	NOPASSWD: ALL