[Unit]
Description=Grafana agent service
After=network.target

[Service]
Type=simple
User=grafana_agent
ExecStart=/usr/local/bin/agent-linux-amd64 -config.file /etc/grafana_agent/grafana-agent-config.yaml

[Install]
WantedBy=multi-user.target