[Unit]
Description=Grafana agent service
After=network.target

[Service]
User=grafana_agent
ExecStart=/usr/bin/sudo /usr/local/bin/agent-linux-amd64 -config.file /etc/grafana_agent/grafana-agent-config.yaml
Restart=always

[Install]
WantedBy=multi-user.target
